.num_box1{
background-color: black;
color: white;
padding: 5px 8px 5px 8px;
font-size: 12px;
font-weight: 800;
margin: 0 3px 0 0;
}
span:nth-child(odd){
  background-color: blue;
}
span:nth-child(5n){
  border-top: solid orange;
}
.mpp{
  width: 100%;
  text-align: center;
}
.num_holder{
  margin: auto;
  padding: 10px 0 0 0;
}
.sized_num{
  padding: 10px 0 0 0;
  font-size: 30px;
}
.addBtn, .rmvBtn{
  cursor: pointer;
  font-size: 16px;
  height: auto;
  width: auto;
  border: none;
}
.addBtn{
  background-color: green;
}
.rmvBtn{
  background-color: red;
}
.rmvBtn:disabled{
  background-color: grey;
  color: grey
}
.noBox{
  padding-top: 10px;
}